<!DOCTYPE html>
<html>

<head>
<script src="/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width" />
<title>WebSocket 客户端</title>
</head>

<body>
	<div id="console">
		<div>
			房间列表 <select id="rooms"></select>
		</div>
		<input type=button id="add" onclick="addUser();" value="增加用户"></input>
		<input type=button id="clean" onclick="clean();" value="清空"></input>
		<input type="text" id="message" value="这是一条消息" />
		<input type=button id="board" onclick="board()" value="广播"></input>
	</div>
	<table border="1" id="users">
		<tr>
		<thead>
			<th>用户id</th>
			<th>房间号</th>
			<th>消息</th>
			<th width=200>操作</th>
		</thead>
		</tr>
	</table>
	<input type="hidden" value="0" id="userNum" />
</body>

</html>